.page {
    min-height: calc(100vh - 5rem);
}

.navbar-height {
    height: 5rem;
}

.bg {
    background-image: url("./resources/backgroundImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-blue {
    background-color: #0b2a3e;
}

.bg-blue-dark {
    background-color: #0a1823;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 55em;
}

.project-thumbnail {
    max-width: 480px;
    max-height: 270px;
}
