.page {
    min-height: 100vh;
}

.bg {
    background-image: url("./resources/backgroundImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 55em;
}
