.page {
    min-height: 90vh;
}

.navbar-height {
    min-height: 10vh;
}

.page-half {
    min-height: 50vh;
}

.bg {
    background-image: url("./resources/backgroundImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-blue {
    background-color: #0b2a3e;
}

.bg-blue-dark {
    background-color: #0a1823;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-grid {
    max-width: 70em;
}

.content {
    max-width: 55em;
}
